@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($time: .3s) {
  transition: all $time ease;
}

@mixin bg-cover {
  background-size: cover;
  background-position: center;
}